<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">
<head>
	<link rel="stylesheet" href="www/style.css" type="text/css" />
	<script language="javascript" type="text/javascript" src="www/jquery-1.4.4.min.js"></script>
	<script language="javascript" type="text/javascript" src="www/jsfx_library.js"></script>	
	<script language="javascript" type="text/javascript" src="www/jquery.batchImageLoad.js"></script>
</head>
<body style="background-image: url('{$background}')";>
	<div id="structure"; height: 100%; margin-bottom: 1px;>
		{*$plg_language_change*}
		{$plg_main_menu}
	</div>	
	<script language="javascript" type="text/javascript" src="www/menu.js"></script>
</body>
argsergresgeg
</html>