<div class="main-content">
{include file='plg_element_close.html'}

<h1>Music Club 'Szuflada'</h1>
<br><br><br>
<div style="float: left;">Wodzislaw Slaski, Poland, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>

<img src="app/templates/img/szuflada/szuflada20.jpg" width="809">
<br><br><br><br><br>

<br><br><br><br><br>
<img src="app/templates/img/szuflada/szuflada22.jpg" width="809">
<br><br><br><br><br>
<img src="app/templates/img/szuflada/szuflada23.jpg" width="809">

<br><br><br><br><br>
<img src="app/templates/img/szuflada/szuflada24.jpg" width="809">


Music Club 'Szuflada'
<br><br><br><br>



</div>