<div class="main-content">
{include file='plg_element_close.html'}
<h1 style="padding: 0; margin: 0;">Background</h1>
<br><br>

GL05 started in 2005 as collaboration of two architects, Lukasz Gawlas and Krzysztof Leszczynski, set up for entering several architectural and design competitions.
<br><br>
Presently we run architecture studio operating on fields of design, architecture and urban planing.
<br><br>
We deal with projects from its conceptual stage, through planing and building permit, ending with execution and detailed design. As general designer we coordinate and cooperate with technical discipline engineers. 



<br><br><br>
<h1 style="padding: 0; margin: 0;">Work</h1>
<br><br>

We are aware of architecture ubiquity in every man’s life and its power of creating solutions.
<br>
We use individual approach against each project, to create unique response.
<br>
We perceive architecture as a discipline interfering with many others and interdisciplinary at presumption.
<br>
While we respect architecture history, there’s no need for going into slavery of the past.
<br>
We go after applying of contemporary world technical knowledge and experience.

<br><br><br>
<h1 style="padding: 0; margin: 0;">Awards</h1>
<br><br>

2006 - Poland, The Second Prize in the open design competition for a House on the Water
<br>
2007 - Poland, The Second Prize in the open design competition for a Visitors Bathroom
<br>
2007 - Slovakia, The First Prize in the International Architectural Design Competition 'Vydrica Bratislavske Podhradie, Blocks V5 V7'

<br><br><br>
<h1 style="padding: 0; margin: 0;">Contact</h1>
<br><br>

office@gl05.eu
<br>
tel. +48 793 217 675
<br>
tel. +48 664 174 164
<br>

<br><br><br>

Biuro Architektoniczne Łukasz Gawlas<br>
43-502 Czechowice-Dziedzice<br>
Ul. Traugutta 11a<br>
NIP 652-167-25-09<br>

<br>


Pracownia Architektoniczna Krzysztof Leszczyński<br>
44-321 Marklowice<br>
Ul. Porzeczkowa 52<br>
NIP 647-23-03-805<br>
<br>


</div>