<div class="main-content">
{include file='plg_element_close.html'}

<h1>Living in a Box</h1>
<br><br><br>
<div style="float: left;">Włochy, 2005</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
LivingBox konkurs międzynarodowy na mieszkanie z prefabrykatów
<br><br><br><br>

LIVING BOX nie wymaga specjalnych przygotowań terenu. Posiada własną strukture nośną, która czyni go niezależnym od przeszkód terenowych. Różnice wysokości, skały czy drzewa nie mają znaczenia. Mogą przenikać swobodnie w strukturę obiektu i stać się jego częścią. Struktura jest systemem przestrzennych kratownic, który dowolnie można wypełniać kubaturą mieszkalną. Ingerencja w  przyrodę przy składaniu obiektu zredukowana jest do niezbędnego minimum. Living Box to koegzystencja z zastanymi elementami przyrody. Potrzeby człowieka zmieniają się w czasie. Tak samo zmienny jest LIVING BOX. Można go rozbudowywać i zmieniać w miarę potrzeb w ramach, które określa struktura. Nigdy tak naprawdę nie jest ukończony....żyje wraz z różnymi i zmiennymi potrzebami jego użytkowników. LIVING BOX to nie pojedyncze mieszkanie, to kompleksowy system mieszkalny.
Maksymalną dostępną przestrzeń dla jednego box’u narzuca struktura nośna (40m długości, 3,6m szerokości i 5m wysokości). Do zabudowy używa się prefabrykowanych elementów systemowych opartych na module 80cm. Wymiary elementów składowych  pozwalają na transport standardowym kontenerem. Ściany, okna, stropy, moduły techniczne etc. są elementami łatwymi w transporcie i montażu. Podobnie jak struktura nośna, którą można składać i rozkładać na elementy podstawowe. LIVING BOX może być tanim mieszaniem dla młodych ludzi, tymczasowym mieszkaniem dla ofiar klęsk żywiołowych, mieszkaniem dla ludzi czujących potrzebę personalizacji przestrzeni i indywidualnych wymaganiach..

<img src="app/templates/img/liab/liab02.jpg">

<img src="app/templates/img/liab/liab01.png">

<img src="app/templates/img/liab/liab02.png">


</div>