<div class="main-content">
{include file='plg_element_close.html'}

<h1>Job Polska Pulpit</h1>
<br><br><br>
<div style="float: left;">Bielsko-Biala, Poland, 2010</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Pulpit Targi Pracy dla Job Polska
<br><br><br><br>


Inwestor działający w branży pośrednictwa pracy i i rekrutacji, głównie w środowisku studenckim, potrzebował przenośnego ‘mebla’ mogącego w pełni obsługiwac jego stanowisko na odwiedzanych targach, wystawach i innych wydarzeniach ‘w terenie’.

Powstała skrzynia, która pełni rolę słupa reklamowego, pulpitu pod laptopa, schowka na materiały promocyjne i szafki ‘garderoby’ na rzeczy pracowników. Jej geometria oparta na trójkątach, czyni z niej strukturę samonośną, co pozwoliło odchudzić ją o oddzielne elementy konstrukcyjne. Podział na dwie części ułatwia transport i montaż. 
<img src="app/templates/img/jobpl/jobpl09.jpg" width="606"><BR>
<img src="app/templates/img/jobpl/jobpl04.png" width="350">


<br>




</div>