<div class="main-content">
{include file='plg_element_close.html'}

<h1>Land Art Generator </h1>
<br><br><br>
<div style="float: left;">The United Arab Emirates, 2010</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Land Art Generator Initiative's (LAGI) first international design competition
<br><br><br><br>

THE ENERGY OF THE SUN<br>

	It is hard to compare the energy of the Sun with any other source of power that people are currently dealing with. Within one hour the Sun gives the Earth the energy equal to the world's annual demand. This natural power plant based on nuclear fusion strikes average square meter of Earth's surface with 1200W of energy. The only question is how to acquire it.


<img src="app/templates/img/lagi/lagi06.jpg">
	
	
SOLAR POWER PLANT<br>

	Limited to one location on the Earth's surface, a solar power plant is forced to deal with the absence of the sunlight during nights and overcast days. The amount of electricity produced is directly related to the amount of the sunlight received. But it is not only energy production that changes during the day.

<br>
	
DAILY ELECTRIC POWER DEMAND<br>

	The electricity demand during the day varies significantly and reflects human activity during 
a 24hour cycle. The minimum energy demand occurs at about 3 a.m. and from then on it starts to increase continuously to hit its daytime peak at about 3 p.m. Afterwards electricity demand decreases but remains still on a high level until 8 p.m. when the local evening peak occurs. Later rapid decrease of energy demand is observed.

<br>

REDISTRIBUTING ENERGY<br>

	How to reconcile a timetable of solar power plant energy production with the electricity demand? This is the real question and the challenge.

<br>

ELECTRIC ENERGY STORAGE At the dawn of superconductors era<br>

	Predominant feature of superconductors is the complete absence of electrical resistance. Following this fact, in a toroid ring made from superconductor electric current can be induced and persist there for an extremely long time. This makes superconductors perfect and simple technology for storing electric energy. In fact, this is the only one that stores electric current directly. The hitch is that superconductors is a technology at its early phase of development and it still needs very low temperatures to work, which makes it expensive.
	Going back to present times, there are quite 
a few systems of electric energy storage that are applied with more or less success. On contrary to potential possibility of superconductors, they firstly convert electric energy to different type of energy like thermal energy, kinetic energy, energy of compressed gas, potential energy of gravity or chemical energy and then store it. On demand this process is inverted and the majority of original electricity is reborn.

<br>

PUMP-STORAGE HYDROELECTRICITY<br>                     
	Using potential energy of gravity for storing energy requires relatively a big amount of operating medium to store electric power. Nevertheless it has certain advantages, especially when operating medium is commonly accessible.
	This type of energy storing process is applied in pump-storage hydroelectricity in which water is an operating medium. Pumped from a lower elevation reservoir to a higher elevation water stores potential energy. When the process is reversed, the water turbines, which at first work as electric pumps, change to highly efficient electricity generators. The efficiency of storing electricity in that system reaches up to 80% and it is not affected by storing time period. The process is a physical phenomenon and it neither affects water chemical properties nor creates contamination. The amount of stored energy is only limited by the size of two water reservoirs.

<br>

PHOTOVOLTAICS choosing the system<br>

	Photovoltaics are one of the most popular way of transferring sun radiation into electricity. Opposite to solar thermal power plant these installations do not need to include movable parts like mirrors, heliostats, additional water/steam circulations or steam turbines and generators. Photovoltaic solar power plant changes solar radiation directly into electric DC current with conversion ratio raging presently from 12% up to 23%. Photovoltaics have strong connection with space technology from where they originate. The simplicity of their construct results in using them as off-grid power generators that supply varied movable devices, vehicles or dwellings. There is also a great flexibility of merging photovoltaics with architecture. 
 
<br>

THE PROJECT<br>
	
	Desert… extreme sun exposition and kilometers of astonishing recurrent landscape. To use solar energy means to prevent it from reaching the Earth’s surface. 

<br>

THE GRID girih tiles<br>

	Looking back in time to art and architecture of Arab World, it's hard not to see their close connection with geometry. Highly developed mathematics must have impressed other fields in many ways. Geometry as a graphic representation of mathematics ruled the architectural form and ornamentation. The latter was usually based on hexagonal or octagonal grid which defined periodic tessellated patterns able to cover entire walls with repetitive motives. However, the real turning point came with decagonal grid, which made it possible to generate aperiodic tessellated patterns. This ornamentation system, composed of a few types of tiles, called girih tiles, creates in fact the pattern of 'regular irregularity'. Moreover,  girih tiles behave in a way that fractals do. The composition of tiles in particular scale can create the same types in a large scale.

	<img src="app/templates/img/lagi/lagi05.jpg">

THE MASHRABIYA CLOUD<br>

	The mesh is spanned between rare columns. The wires follow decagonal grid and bears girih tiles shaped photovoltaic panels. Panels are disposed in strict geometry, as geometry was never abandoned by founders and ancestors of this place. During a ramble under this geometrical ceiling the shadow intensity changes. From nearly full sunlit towards deep shadows, where the Sun put only glimpses of scattered light and invokes mashrabiya motives. 
	The whole structure is floating above the desert in motionless, suspended state. The hovered man-made cloud gives shadow and asylum from omnipresent sunlight.

<img src="app/templates/img/lagi/lagi02.png">


THE LAND ART MOSAIC<br>

	Under the shade of aerial structure, the ground level is organized upon the same decagonal grid with landscape elements attached to it. Communication and the canals follow girih tiles geometry. Also positions of landscape elements like water towers, commercial center, athletic stadium, and amphitheatre all result from using the grid.
	There is a wide span of landscape types on the site. Predominant element is the desert type natural landscape interweaved with desert vegetation areas. It represents the strict life limitations. On the other hand, there is a water flow on the site and all the vivid commercial and leisure elements that are true catalysts of life. The juxtaposition of these different types creates the tension on the area and breaks the monotony of the desert. The land art mosaic is created.

	<img src="app/templates/img/lagi/lagi01.png">


WATER TOWERS<br>

Four slender towers exceed above the height of the photovoltaic carpet. Prevailing over the vicinity, they emphasize the role they play in power plant installations. 
Water towers are in fact the pump-storage hydroelectricity capable of storing electric power created by photovoltaics. They return electric energy when photovoltaics stop to create it.
During towers daily cycle, thousand of liters travel from the top tank towards the water reservoir underneath and back. All ground level water reservoirs are connected by canals. They are deep and narrow to avoid excessive evaporation. The water reservoirs and canals are connected with the bay creating communicated vessels system.
	The primary aim of water towers is storing the electrical power. Nevertheless, as they use water for this purpose, they produce water current that makes the water in the canals flow. This is used to create whitewater course. At the top of each tower a viewing platform is located.
	 The construction of the towers is based on hyperboloid structures, which are characterized by high strength and low material use. 




<br><br>

TECHNICAL SPECYFICATION

<br><br>

PHOTOVOLTAICS POWER PLANT

<br><br>

photovoltaics area	130 116 m²<br>
average solar energy on the earth surface	1 000 W/m²<br>
photovoltaics efficiency	15 %<br>
photovoltaic power plant nominal power	19,52 MW<br>

<br><br>

PUMP-STORAGE HYDROELECTRICITY

<br><br>

towers height	150 m<br>
top reservoir capacity	4 x 7 812 m³<br>
center of water mass height	138 m<br>
potential energy of water mass (mxgxh)	4 x 10 575 MJ<br>
PSH efficiency	80 %<br>
PSH power capacity	4 x 2,4 MWh<br>
PSH nominal power during 10 hours	4 x 0,24 MW	<br>


<img src="app/templates/img/lagi/lagi03.png">
</div>