<div class="main-content">
{include file='plg_element_close.html'}

<h1>Cersanitech 2005</h1>
<br><br><br>
<div style="float: left;">Polska, 2005</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Konkurs na Łazienkę Cersanitech
<br><br><br><br>



Łazienka publiczna jest z założenia obiektem nieeksponowanym, znajdującym się często pod powierzchnią ziemi. Jest to zazwyczaj spowodowane kontekstem w jakim się znajduje. Często jest nim zabytkowa okolica, park lub sąsiedztwo rozmaitych atrakcji turystycznych.

Nasza propozycja to projekt łazienki publicznej obsługującej miasta i centra turystyczne. Formą nie narzuca się otaczającej, atrakcyjnej przestrzeni, a funkcjonalnie wychodzi naprzeciw współczesnym zapotrzebowaniom. Obecnie młodzi ludzie żyją z dnia na dzień, często przemieszczają się w niekonwencjonalny sposób. Gdy liczy się każdy grosz nie zawsze mogą sobie pozwolić na korzystanie z drogiego zaplecza turystycznego. Niewielka suma w kieszeni, plecak i 'autostop' to często jedyny sposób na dotarcie do ciekawych miejsc. Projektowany obiekt stanowi dopełnienie oferty proponowanej przez komercyjne usługi turystyczne.
<BR>

Obiekt umieszczony jest pod ziemią w betonowej skorupie. Jej kształt jest optymalną podwójną krzywizną, która przy stosunkowo małej grubości jest w stanie przezwyciężyć siły parcia gruntu. Skorupa ma też dodatkowe zadanie, a mianowicie dostarczyć niezbędną ilość światła dziennego do wnętrza. Dlatego w odpowiednich miejscach przebija ona powierzchnię gruntu i wychodzi nad jego poziom tworząc świetliki.

<BR>

Łazienki publiczne to obiekty funkcjonujące w miejscach o różnym natężeniu ruchu, dlatego proponujemy rozwiązanie systemowe, pozwalające na zastosowanie zmiennej ilości urządzeń sanitarnych w zależności od zapotrzebowania danego miejsca.Podstawowe moduły łazienki publicznej to:
<BR>
1. umywalka + kabina (pisuar)
<BR>
2. kabina dla niepełnosprawnych
<BR>
3. łazienka turystyczna (prysznic + umywalka, przebieralnia, miejsce na plecak)

<BR>

Elementy konstrukcyjne 'skorupy' wykonane są z żelbetu, od wewnątrz powleczonego zmywalną warstwą PVC. Wszystkie instalacje wodno-kanalizacyjne znajdują się w trzonach technologicznych i pod podłogą (całość jest rozwiązana systemowo). Wzdłuż krawędzi styku podłogi i ściany ciągnie się spływ odwadniający oraz pas oświetleniowy.

<img src="app/templates/img/cer06/cer0601.jpg">
<br><br><br><br>
<img src="app/templates/img/cer06/cer0602.png">
<br><br><br>
</div>