<div class="main-content">
{include file='plg_element_close.html'}

<gl05h1>Live the BOX</gl05h1>
<br><br><br>
<div style="float: left;">Newark, USA, 2009</div>
<div style="float: right;">by Lukasz Gawlas</div>
<br>
Container Constructed Multi-Family Mixed-Use Complex in Newark. Diploma project (Silesian University of Technology, Faculty of Architecture) promoted to the second stage of the competition for the best diploma project. 
<br><br><br><br>


Diploma project was based on competition 'Live the BOX' that was held by AIA Newark and Suburban. The aim of the competition was the multi-family, mixed use project utilizing shipping containers. These containers may be utilized in any configuration or quantity and may be cut or solid.

<br>
<img src="app/templates/img/ltb/ltb01.jpg">
<br>
<img src="app/templates/img/ltb/ltb04.png">

The selected site is adjacent to a Broad Street Train Station and walking distance to the downtown major cultural centers of Newark, New Jersey. Area serves as communication junction for commuters and local community. Project localisation is a good opportunity to create 'gateway' to the wider metropolitan experience.

<img src="app/templates/img/ltb/ltb08.png">


<br><br><br><br>
<img src="app/templates/img/ltb/ltb02.png">

<br>
Lightmotive of the building are four slender towers created with stacked containers. Their repeated rhythm emphasize perception among observers in motion arriving at BSTS.
Project was based on orthogonal grid in reference to container port systems including transportation, storage and stacking. This system is about simplicity and optimization. Adopting it to container multifunctional complex beside its obvious technical advantages is also a kind of tribute to industrial heritage.
<br>

<br><br>
<img src="app/templates/img/ltb/ltb05.png">

Functional program contains of commercial area accessible from street level and housing on the upper floors. There are four housing towers dominating over one and two story patio housing. Container apartments appear in various configurations. Number of container subunits and their purpose are set individually for each apartment. Inside the object two story car parking is arranged. Communication in the complex based on ramps runs through different levels. There are also different levels of accessibility like public, semi public and residents only.

<br><br>
<img src="app/templates/img/ltb/ltb07.png">


<br><br><br>

<img src="app/templates/img/ltb/ltb06.png">




</div>