<div class="main-content">
{include file='plg_element_close.html'}

<h1>Smołdziński Las Guest House</h1>
<br><br><br>
<div style="float: left;">Poland, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Built
<br><br><br><br>

Project site is located in Smołziński Las near the Baltic Sea Coast. Vast, beautiful landscape and the National Park neighbourhood effects on tourist interest including agrotourism. House was projected as a guest house. It is divided into two parts. One for the householder and the other for visitors. To separate this two parts an entryhall was used, which is well known from traditional rural housing in area. Another motives as traditional roof with interior gable chimneys is typical for that kind of settlement . These assumptions determine rural landscape over area. Beside these traditional references the building represents using simply means of expresion and contemporary asthetics and technology.

<img src="app/templates/img/domsl/domsl01.jpg">

<img src="app/templates/img/domsl/domsl06.png">
<br>
<img src="app/templates/img/domsl/domsl02.jpg">


</div>