<div class="main-content">
{include file='plg_element_close.html'}

<h1>dj06</h1>
<br><br><br>
<div style="float: left;">Wodzisław Śl., Polska, 2012</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
w trakcie realizacji
<br><br><br><br>


Niewielkie wymiary działki i gęsta zabudowa w sąsiedztwie wymusiły poszukiwania rozwiązań funkcjonalnych, formalnych i konstrukcyjnych, wyjątkowych dla tego miejsca.
Podział funkcjonalny dzieli się wg kondygnacji. Strefa dzienna z kuchnią, salonem i częścią gospodarczą znajduje się na parterze. Strefa nocna z trzema pokojami znajduje się na piętrze.
Chcąc zminimalizować straty energetyczne, część północna i wschodnia domu jest wyraźnie niższa, a wysoki południowo – zachodni przeszklony narożnik, pozwala w ciasnej zabudowie sąsiednich działek, wychwytywać światło słoneczne do późnych godzin popołudniowych. 

<img src="app/templates/img/empty1/dj0601.jpg">

<img src="app/templates/img/empty1/dj0601.png">

<img src="app/templates/img/empty1/dj0602.png">
<br><br>

<img src="app/templates/img/empty1/dj0602.jpg">



</div>