<div class="main-content">
{include file='plg_element_close.html'}

<h1>Newark Visitors Center</h1>
<br><br><br>
<div style="float: left;">Newark, USA, 2009</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Newark Visitors Center Competition
<br><br><br><br>

     The project site is located between the urban fabric of Newark and the vast open recreational area along the Passaic River. This unique localization constrained the project to become a ?gateway? to New Riverfront Park of Newark. 
	 <BR>
     Designed building shall be constructed on triangular geometry mesh. Each architecture component of NVC is based on either single triangular module or their multiplication. Triangular mesh allows to create urban environment of three possible directions in advantage to two directions of orthogonal mesh. Triangle works also better than square as a spatial element of structures. Nevertheless, the most important is that this strict repetitive geometry makes small-volume NVC building perceived as the scaled object harmonizing with the big scale of Newark?s downtown. 
	 <BR>
     Designed building shall be divided into three functional blocks with voids between them. The first block contains auditorium, conference room and foyer with accompanying functions. The roof of this block forms amphitheatre facing down the river side. The second block is a gallery section. Permanent exhibition and temporary displays from other galleries will find their home there as well as a caf?nd terrace with an extensive view into the riverside. The last third block is a one of commercial use and it is designed for retail units including gift shop. All these three blocks are connected on the underground level where the parking and technical rooms are located. The voids between the blocks shall be covered with light textile roof which serves as communication area and provides an easy access to New Riverfront Park. By providing these New Riverfront Park becomes an integral part of NVC scheme.  In the New Riverfront Park a vibrant sculpture shall appear.
<BR>
<img src="app/templates/img/nvc/nvc01.jpg">
<br>
<img src="app/templates/img/nvc/nvc03.png">
<br><br><br><br>
<img src="app/templates/img/nvc/nvc04.png">

</div>