<div class="main-content">
{include file='plg_element_close.html'}

<h1>Europan 2009</h1>
<br><br><br>
<div style="float: left;">Ryga, Łotwa, 2009</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Europan Konkurs 2009
<br><br><br><br>

RUMBULA
<br>
Miejsce projektu to niezagospodarowany przez człowieka fragment środowiska naturalnego, znajdujący się w granicach miasta Ryga. Miasta, jak wiele innych, o określonej urbanistyce, składającej się z typowych miejskich kwartałów. Stosowany od dawna, aż po dziś dzień kwartał przyjmowany jest, z większym lub mniejszym powodzeniem, jako uniwersalne rozwiązanie na obszarach zurbanizowanych. Jednak mijający czas, oraz zmieniające się realia, mogą skłaniać do zastanowienia, czy powody dla których powstał kwartał są nadal aktualne. Pozbawiony bowiem swojego uzasadnienia kwartał staje się formą abstrakcyjną. Czy teren przeznaczony na projekt jest odpowiednim miejscem aby kontynuować formalną grę bez podstaw?
Projekt nowej dzielnicy ‘Rumbula’ zakłada stworzenie różnych krajobrazów o charakterze symbolicznym. Określono cztery typy krajobrazów, które połączono komunikacyjnie w jeden funkcjonalny kompleks. Każdy z nich określony jest za pomocą innych cech, włączając w to cechy i formy terenowe, roślinność i oczywiście architekturę.
<img src="app/templates/img/europan09/europan0903.jpg">

‘MIASTO’
<br>
‘Miasto’ jest wielofunkcyjną strukturą opartą na ortogonalnej siatce. Składa się z jednostek o skończonej liczbie typów. Siatka oraz ścisły układ urbanistyczny, który tworzy ma związek z krajobrazem i życiem miejskim. Struktura nigdy nie jest skończona, może zmieniać swoje zagęszczenie lub funkcje w zależności od potrzeb. Podstawowe typy jednostek to różnego rodzaju obiekty biurowe, handlowe i rekreacyjne, a także puste elementy, pełniące funkcje placy miejskich oraz zielonych skwerów.
Każda jednostka struktury ‘Miasta’ oparta jest na kwadracie o boku 32m podzielonym na 3 poziomy. Podziemie jest takie samo dla wszystkich typów i zawiera parkingi. Partery wszystkich jednostek pełnią funkcje handlowe oraz zapewniają dostęp komunikacyjny do wyższych kondygnacji. Na wyższych kondygnacjach, w zależności od typu  danej jednostki znajdują się różne funkcje wiodące.
Konstrukcja każdej jednostki opiera się na systemie dźwigarów vierendella o wysokości poszczególnych kondygnacji, opartych na czterech narożnych słupach. Rozwiązanie to pozwala całkowicie uwolnić nieparzyste kondygnacje z elementów konstrukcyjnych.
Maksymalna powierzchnia brutto struktury to 192,512 m² powierzchni wielofunkcyjnej oraz 96,256 m² powierzchni parkingowej. Przykładowa aranżacja siatki przedstawiona w projekcie składa się z 41,984 m² powierzchni handlowej, 93,388 m² powierzchni biurowej,  6,144 m² powierzchni wypoczynku i rekreacji oraz 96,256 m² powierzchni parkingowej. W nawiązaniu do planu miejscowego dla dzielnicy, struktura ‘Miasto’ odpowiada numerom działek 19 i 8.

<img src="app/templates/img/europan09/europan0905.png">

LAS I WIEŻE MIESZKALNE
<br>
Kolejny krajobraz utworzony jest w bezpośrednim sąsiedztwie struktury ‘Miasta’. Jego architektura wyraża się minimalną powierzchnią zabudowy oraz maksymalną dozwoloną w planie wysokością obiektów. Niewielka powierzchnia zabudowy pozwala nie tylko na pozostawienie istniejących fragmentów lasu ale też uzupełnienie ich nowym drzewostanem i odtworzenie ciągłości ekosystemu. Krajobraz ten przebiega przez całą dzielnicę i posiada połączenia z zewnętrznymi ciągami zieleni. Las w połączeniu z systemem ścieżek pełni funkcję rekreacyjną i komunikacyjną dla wież mieszkalnych.
Wieże składają się z 23 kondygnacji mieszkalnych. Każda kondygnacja zawiera od 5 do 8 mieszkań o łącznej powierzchni 572 m² . Jedno lub dwukondygnacyjne mieszkania mają powierzchnie od 40 m²  do 105 m² . Całkowita powierzchnia jednej wieży to 13,156 m², a liczba mieszkań waha się od 115 do 184. W każdej wieży znajdują się wspólne strefy półprywatne utworzone w miejscu niektórych mieszkań. Parkingi zlokalizowane są w podziemiach.
Całkowita powierzchnia mieszkań w ‘dzielnicy wież’ wynosi 171,028 m², a liczba mieszkań zawiera się w przedziale od 1495 do 2392 w zależności od konfiguracji. Obszar powyższego założenia odpowiada działkom numer 1, 2, 3, 4, 5, 6, 7, 19  planu miejscowego dzielnicy ‘Rumbula’.

<img src="app/templates/img/europan09/europan0901.png">

MEGASTRUKTURY
<br>
Następny pas krajobrazu jest obszarem przejściowym pomiędzy nadbrzeżem, a centralnymi częściami założenia. Priorytetem jest łatwy dostęp i otwarcie w kierunku rzeki. Zgodnie z planem miejscowym obszar powinien także posiadać funkcję mieszkaniową o dużej intensywności. W celu pogodzenia ze sobą tych dwóch założeń zaprojektowano megastruktury cechujące się wąskim traktem przy stosunkowo dużej długości i wysokości. Rozwiązanie to pozwala zachować swobodny przepływ przestrzeni od obszarów centralnych w kierunku części ulokowanej nad brzegiem rzeki. Obiekty wznoszą się na słupach nad terenem uwalniając tym samym przyziemie. Podziemne parkingi dla strefy ulokowane są w obiekcie terenowym, który łączy w podziemiach wszystkie megastruktury.
Obiekty składają się z 15 kondygnacji. Istnieje 8 typów mieszkań o powierzchni od 78 m² do 147 m². Każda megastruktura, podobnie jak wieże posiada strefy półprywatne powstałe w miejscach w których ‘wyjęto’ moduły mieszkalne. Przedstawiony budynek składa się ze 100 mieszkań o łącznej powierzchni 11,880 m².
Całkowita powierzchnia mieszkań dla strefy ‘megastruktur’ to 59,400 m² w 500 jednostkach mieszkalnych. Obszar założenia odpowiada działkom numer 1, 4, 9, 10, 11, 12  planu miejscowego dzielnicy ‘Rumbula’.

<img src="app/templates/img/europan09/europan0908.png">

DZIELNICA NADBRZEŻNA
<br>
Nadbrzeże to ostatni z czterech projektowanych komponentów krajobrazowych. Rozciąga się szerokim pasem wzdłuż rzeki. W przeciwieństwie do trzech poprzednich krajobrazów dzielnica nadbrzeżna przeznaczona jest pod zabudowę mieszkaniową o małej intensywności. Założenie to pozwala na projektowanie 4-kondygnacyjnych obiektów wielorodzinnych. Budynki zlokalizowane są na ortogonalnej siatce o boku 20m. Obiekty usytuowane są w grupach, a przestrzeń między nimi jest ogólnodostępna. Rozwiązanie to zapewnia dobrą komunikację we wszystkich kierunkach.
Estetyka domów nad brzegiem rzeki odwołuje się do lokalnych tradycji. Każdy budynek składa się z dwóch typów mieszkań: jednokondygnacyjnego o powierzchni 54 m² oraz dwukondygnacyjnego o powierzchni 108 m². Liczba mieszkań w jednym budynku może wahać się od 4 do 8.
Nad brzegiem rzeki znajduje się 40 tego typu obiektów, każdy o powierzchni 600 m². Całkowita powierzchnia mieszkaniowa dzielnicy nadbrzeżnej to 24,000 m² przy całkowitej liczbie mieszkań w przedziale od 160 do 320, w zależności od zastosowanej konfiguracji mieszkań. Obszar założenia odpowiada działkom numer 9, 10, 11 oraz 12  planu miejscowego dzielnicy ‘Rumbula’.

<img src="app/templates/img/europan09/europan0907.png">

OBIEKTY TOWARZYSZĄCE I KOMUNIKACJA
<br>
Infrastruktura sportowa i wypoczynkowa znajduje się we wschodniej części działki w obszarze krajobrazu lasu. 
Nad rzeką znajduje się marina oraz port. Obiekty zaprojektowane są w estetyce krajobrazu nadbrzeżnego.
Komunikacja piesza odbywa się na całym zielonym obszarze, w miejscach jej największego natężenia podłoże wzmocnione jest za pomocą paneli kompozytowych.

</div>