<div class="main-content">
{include file='plg_element_close.html'}

<h1>Dom Gościnny w Smołdzińskim Lesie</h1>
<br><br><br>
<div style="float: left;">Poland, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Realizacja
<br><br><br><br>

Obiekt znajduje się w miejscowości Smołdziński Las, na Wybrzeżu Słowińskim. Rozległe, piękne tereny oraz sąsiedztwo nadmorskiego parku krajobrazowego sprzyjają rozwojowi turystyki, w tym także agroturystyki. Dom zaprojektowany został jako dom gościnny. Posiada część mieszkalną dla rodziny gospodarzyi oraz część przeznaczoną dla gości. Obie części oddzielone są od siebie za pomocą prowadzącej na ogród przelotowej sieni, motywu stosowanego w tradycyjnej zabudowie siedliskowej. W projekcie zastosowano również inne elementy tego typu zabudowy jak tradycyjna forma dachu z umiejscowieniem kominów w kalenicy. Przyjęte założenia są wyznacznikami tradycyjnego krajobrazu wiejskiego, w którym znajduje się obiekt. Budynek obok tradycyjnych założeń prezentuje oszczędną w środki wyrazu współczesną estetykę, oraz technologię materiałową.
<img src="app/templates/img/domsl/domsl01.jpg">


<img src="app/templates/img/domsl/domsl06.png">
<br>
<img src="app/templates/img/domsl/domsl02.jpg">


</div>