<div class="main-content">
{include file='plg_element_close.html'}

<h1>Tennis Courts Complex</h1>
<br><br><br>
<div style="float: left;">Poland, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>

Concept Project Stage

<br><br><br><br>

Investor’s intention is to create tennis court complex operating all year round. Recreational and professional tennis activities will be accompanied with all necessary services. Guidelines and timetable were set according to which investment was divided into two phases. During the first phase main hall including four indoor tennis courts will be created together with service building including cafe, snack bar, bathrooms & changing rooms and storages. Additionally two open tennis courts will be arranged on the roof with separate access. In the second stage four additional outdoor tennis courts will be created. They will be located starting from frontal facade of service building.

<img src="app/templates/img/korty/korty02.jpg">

The site has industrial history. It is characterised by various ground levels and localisation in mining damage area. 
It results on proposed construction and functional solutions. Roof construction made of  frameworks will be based on reinforced concrete pillars. Two story service building connected with hall is set in the scarp and works as retaining wall. The same time it is connecting two different levels.  Its southern glass facade allows sunlight to penetrate indoor hall, beside hall’s bottom openings. Roof outdoor tennis courts will be accessible by exterior staircase starting from cafe’s terrace.

<img src="app/templates/img/korty/korty01.png">

<br><br>

</div>