<div class="main-content">
{include file='plg_element_close.html'}

<h1>Marten Head Office & Factory</h1>
<br><br><br>
<div style="float: left;">Wodzislaw Slaski, Poland, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
concept & building permit project
<br><br><br><br>


    Marten Headoffice & Factory is newly planned building complex of total area 1200 m2. It consist of office representative building and adjacent production hall.
    The office building was projected in slab-column structure system made of reinforced concrete with vertical communication core inside. Within this free plan the office function is created by using non-bearing walls of different types and transparency.

<img src="app/templates/img/marten/marten02.png">


<br><br><img src="app/templates/img/marten/marten07.jpg"><br>
The facade is a system type glass facade of high quality and good thermic parameters. It allows sunlight to illuminate all the interior. The same time it is the company’s high performance show, as they main product are aluminium-glass facade systems.
    Over the south facade the roof is extended the way it can protect interior from direct sunlight during summer noon hours.

Program of the building consist of three independent offices. Two standard offices are located on the ground floor. Company’s main design office and headquarter are located on the first floor. Among open space office with plotter room and managments rooms there is also a conference room and small cafe.
<img src="app/templates/img/marten/marten08.jpg">

</div>