<div class="main-content">
{include file='plg_element_close.html'}

<h1>Music Club 'Szuflada'</h1>
<br><br><br>
<div style="float: left;">Wodzislaw Slaski, Poland, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Completed
<br><br><br><br>
	Group of friends decided to open new music club. Limited budget and running time made them to use a place in former restaurant. Situated in the basement local had in fact ready infrastructure. It allows investors to appropriate funds mainly on visitors and guest artists area design. 
Club is in fact one open space ‘sliced’ by massive construction walls of basement, what make easy to arrange particular zones and create intimate character. From the acoustic and functional reasons the hearth of the music club was distinguished with material, colour and artificial lightning.
<img src="app/templates/img/szuflada/szuflada003.jpg">




</div>