<div class="main-content">
{include file='plg_element_close.html'}

<h1>Live the BOX</h1>
<br><br><br>
<div style="float: left;">Newark, USA, 2009</div>
<div style="float: right;">by Lukasz Gawlas</div>
<br>
Kontenerowy Kompleks Mieszkaniowo-Usługowy w Newark. Projekt Dyplomowy (Politechnika Śląska, Wydział Architektury) zakwalifikowany do finału Konkursu im. Z. Majerskiego na Najlepszy Dyplom roku
<br><br><br><br>


Projekt pracy dyplomowej oparty został na wytycznych konkursu ‘Live the BOX’ ogłoszonego przez AIA Newark and Suburban. Celem konkursu była adaptacja standardowego kontenera transportowego ISO 20' i zastosowanie go w projekcie mieszkaniowo-usługowego kompleksu w Newark. Kontenery mogą zostać zastosowane w dowolnej liczbie oraz konfiguracji, mogą także zostać poddane obróbce (wycinanie fragmentów ścian, wstawianie dodatkowych elementów).

<br>
<img src="app/templates/img/ltb/ltb01.jpg">
<br>
<img src="app/templates/img/ltb/ltb04.png">

Wybrana na konkurs działka przylega do głównej stacji kolejowej Broad Street Train Station i znajduje się w zasięgu pieszym od ścisłego centrum (Downtown) Newark. Miejsce pełni funkcję węzła komunikacyjnego dla lokalnej społeczności oraz osób dojeżdżających do pracy środkami komunikacji miejskiej. Lokalizacja ta jest idealna dla stworzenia znaku ‘bramy’ w przestrzeni urbanistycznej. 

<img src="app/templates/img/ltb/ltb08.png">


<br><br><br><br>
<img src="app/templates/img/ltb/ltb02.png">

<br>
Motywem przewodnim obiektu są cztery smukłe wieże ułożone z kontenerów ISO 20’. Ich powtarzalny rytm potęguje odbiór u obserwatorów znajdujących się w ruchu, przybywających na stację BSTS.
Projekt oparty został na ortogonalnej siatce, podobnie jak cały system transportu, łączenia i magazynowania kontenerów w portach. Taki sposób składowania i przemieszczania kontenerów  wynika z optymalizacji. Przyjęcie tego samego systemu dla wielofuncyjnego kompleksu oprócz  korzyści technicznych jest także ukłonem w stronę dziedzictwa przemysłowego, a zwłaszcza kontenerowego portu Newark..
<br>

<br><br>
<img src="app/templates/img/ltb/ltb05.png">
Program funkcjonalny kompleksu składa się z części usługowej dostępnej z poziomu ulicy oraz mieszkalnej na wyższych kondygnacjach. Zabudowa mieszkalna występuje w formie wież mieszkalnych oraz kontrastującej z nimi niskiej zabudowy dywanowej. Kontenerowe mieszkania posiadają różne konfiguracje i liczbę modułów. Głównym funkcjom towarzyszy dwupoziomowy parking. System komunikacji w kompleksie rozgrywa się na wielu poziomach. Obiekt posiada strefy o różnych stopniach dostępności, od publicznych ogólnodostępnych do prywatnych tylko dla mieszkańców.

<br>
<br>
<img src="app/templates/img/ltb/ltb07.png">


<br><br><br>

<img src="app/templates/img/ltb/ltb06.png">






</div>