<div class="main-content">
{include file='plg_element_close.html'}

<h1>dj08</h1>
<br><br><br>
<div style="float: left;">Czechowice-Dziedzice, Polska, 2012</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
projekt budowlany
<br><br><br><br>



Płynący w zachodniej granicy działki strumień mocno ograniczył swobodę lokalizowania nowego domu. Odsuwając się od wody możliwie daleko, prostokątny rzut rozciągnięto wzdłuż osi N-S.
Budynek przekryto dachem dwuspadowym (20˚), kalenicę układając prostopadle do jeg osi. Dłuższą połać wyeksponowaną na południe, wykorzystano przy lokalizacji okien dachowych, kolektorów słonecznych i paneli fotowoltaicznych.
Z uwagi na grożący okresowymi wezbraniami strumień, budynek wyniesiono ponad teren.
W parterze zaprojektowano  wejście i połączone z ogrodem strefy, gospodarczą i dzienną. Na poddaszu, powtarzając układ z parteru strefę nocną. Dzięki dużym oknom od wschodu, południa i zachodu, dom korzysta ze światła słonecznego przez cały dzień. Elewacja północna pozbawiona jest okien.  
<img src="app/templates/img/empty3/dj0801.jpg">
<img src="app/templates/img/empty3/dj0802.png">
<img src="app/templates/img/empty3/dj0803.png">
<br>
<br>
<img src="app/templates/img/empty3/dj0804.jpg">


</div>