<div class="main-content">
{include file='plg_element_close.html'}

<h1>Job Polska Stand</h1>
<br><br><br>
<div style="float: left;">Bielsko-Biala, Poland, 2010</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Job Fair Stand Design for Job Polska
<br><br><br><br>
Client, job recruitment agency, was in need to prepare promotional design operating on outgoing events like job fairs and promotional displays. Aim of this design was mobile, multifunctional furniture able to support that kind of events.

Created box acts as poster pillar, laptop table and closet for promotional materials or workers luggage. With geometry based on triangular faces, box has structural skin which canceled separated framing system. Stand is easy to disassemble into two parts, what simplify transport.

<img src="app/templates/img/jobpl/jobpl09.jpg" width="606"><BR>
<img src="app/templates/img/jobpl/jobpl04.png" width="350">


<br>




</div>