<div class="main-content">
{include file='plg_element_close.html'}

<h1>Europan 2011</h1>
<br><br><br>
<div style="float: left;">Deventer, Holand, 2011</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Europan Competition 2011
<br><br><br><br>



BACKGROUND 
<BR>
 
Deventer is a famous Hansa town on the River IJssel. The old town
centre has one of the finest squares in Europe. The residential areas are
situated to the north of the town centre, on the dry sand. The wet river
bed was gradually developed for the purpose of docks and industry.
Burgomaster De Boer took the initiative of excavating the first dock in
1920. This dock was such a success that a second and third dock inlet
were constructed. The elongated dock basins lie north-south: the
buildings protect against the prevailing wind. This no-nonsense logic is
typical of the entire area: always functional, without frills. The dock is
still used by commercial shipping and this will continue in the future.
However, the buildings have to a large extent lost their original
function. This does not mean that they are uninhabited. The complexes
have been discovered by a colourful palette of artists,
creative entrepreneurs etc. The silos are the supreme eye- catchers.
The Zwarte Silo dates back to 1924, the Hoge Silo and the
accompanying elevator building date back to 1961. It was once the
highest sliding formwork in the Netherlands and has turned out to be
an elegant and visually-dominant landmark of Deventer.


<img src="app/templates/img/europan11/europan1103.jpg">

URBAN PLAN 
<BR>
 
   The main objective of the project is to create heartbeating place for new city district. It is acquired not only by using mixed-function environment but also creating physical, urban  spaces to let them interact. In order to do so, we  used unique architectural/urban scheme based on reduction of building footprint used in the past by Lisitzky in its 'cloud irons'.  Liberated from building occupancy ground level becomes main place for social interaction of quarter habitants and visitors. With its localisation by the water and protection from weather conditions by upper architecture structure, the place creates great opportunity for meetings, water spectacles and many other activities. Finally the object becomes also a new landmark for Deventer.
   The street level of projected site is strongly supported by commercial functions in buildings ground floors. Underneath concrete cone-shaped structures of the grey silo a cafe is localised, with great openings toward the street. The basis of adjacent new tower along Scheepvaartstraat are intended for retail functions and representative entrance hall to housing. Ground floors of the 'city roof' building includes restaurant and cafe at both ends and 2 storey workshops with offices for local entrepreneurs. All these functions are accessible from waterside square and  Scheepvaartstraat as well.
   It was intended to prevent traffic from going inside the site, so the one level  common underground parking was projected for new objects. Vehicle entrance ramp is located by the west side of the grey silo at the border of the site.  Pedestrian entrances to the underground are located at the waterside square and by the silo entrance hall.

   
<img src="app/templates/img/europan11/europan1104.png">

<BR>
THE CITY ROOF 
<BR>

   This structure follows urban and functional mixed-program assumptions. Consist of retails, offices, company housing and students accommodation relocates each function on separate level of the building. The biggest, the one story roof part is intended for students  accommodation. It is composed of 36 students double rooms accompanied by common living rooms with terraces, learning rooms, kitchens and dining rooms. This level is supported on core of the building and V-shaped pillars. Underneath, the third level of the building consists of 7 corporate housing accessible from eastern gallery. Two bottom levels are intended for 2 story restaurants and workshops with offices. Vertical communication of the building is located outside of the internal wall.

<img src="app/templates/img/europan11/europan1101.jpg">
<BR>
<BR>
<img src="app/templates/img/europan11/europan1105.png">


<BR>
THE GREY SILO 
<BR>

   The existing grey silo is undoubtedly  one of the iconic building in Deventer. It represents history of the city and evokes its industrial character. However the potential of this building is strongly limited by existing cells-structure. For commercial reusing of this building partial removal of its walls is rather necessity, than architects whim. The only question is the how to do it.
   For projecting within the grey silo two projected rules were applied. One for creating openings in external walls and the other for arranging space in internal cell-structure. External openings are created in lattice like pattern, to avoid breaking continuity of weight bearing wall structure. Internal design is executed within cell pattern with maximum cell walls reusing for any needed separations within project. Remaining cells walls with additional reinforcements should create 3-dimensional support structure for the silo.
   Finally ten lofts and one penthouse at the top are created within existing structure with marvellous view over the city and perfect living sun exposition. The cellar of the silo was adopted for residents' box rooms.

<img src="app/templates/img/europan11/europan1103.png">

<BR>
THE NEW TOWER 
<BR>

   To follow the functional program for the site the new vertical self-supported structure were proposed adjacent to northern silo side. It consist of eleven platforms intended for free-plan self-constructed housing.
   As the new function appears in grey silo and nearby, existing staircase with it platform levels is not suitable for it any more. It is replaced by new, self supported, vertical communication system that serves both grey silo lofts and platform housing. It consists of  staircase and three elevators including one freight elevator. Underground parking level is accessible by it as well.
   The ground floor plan of the building is extensive and creates the frontage of  Scheepvaartstraat, facing it with retails. With opposite workshops and offices it animates this backside street.

<img src="app/templates/img/europan11/europan1102.jpg">
<br>                   

</div>