<div class="main-content">
{include file='plg_element_close.html'}

<h1>Cersanitech 2005</h1>
<br><br><br>
<div style="float: left;">Poland, 2005</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Cersanitech Bathroom Design Competition
<br><br><br><br>

Our project is designed for cities and tourist centers. Its form doesn't interfere with the surroundings, often very beautiful and attractive. The project answers the contemporary trend to constantly move from one place to another. Some cash, a backpack, and a little patience while hitch-hiking should be enough to get to interesting places. When every penny is important, you often can't afford the expensive tourist facilities.                                         
<BR>

The greater part of the object is located under the ground level in a concrete shell. The shell sticks out from the ground in essential places to supply sunlight for the inside. The shape of the shell refers to biological shapes and is based on NURBS (Non-Uniform Rational B-spline) curves to easily withstand the pressure from the ground. Thus, the thickness of the shell can be reduced. The shell covers the public toilet functions and gives enough space to communicate - the fact that influences the choice of the shape.                                             

<BR>

Project of the public toilet is a system solution and it is based on three basic modules, which are:                                         
<BR>
A - a toilet cabin or urinal and a washbasin on the opposite side
<BR>
B - a bathroom, which consists of a shower,a toilet and a washbasin                             
<BR>
C - a toilet for disabled                                 

<BR>
Presented project includes five 'a' modules for the gents and five "a" modules for the ladies, two 'b' modules for the visitors, and a 'c' module. Additionally, there is a technical room available. The way that the shell is connected with the surface does not lie within the scope of this project. It could be through an elevator, a stairwell, or a ramp,  depending on the context.

<img src="app/templates/img/cer06/cer0601.jpg">
<br><br><br><br>
<img src="app/templates/img/cer06/cer0602.png">
<br><br><br>
</div>