<div class="main-content">
{include file='plg_element_close.html'}

<h1>Carpet Assembly</h1>
<br><br><br>
<div style="float: left;">New York, USA, 2012</div>
<div style="float: right;">by Lukasz Gawlas & Krzysztof Leszczynski</div>
<br>
Anonymous.a 02 Competition
<br><br><br><br>

BACKGROUND
<br>
The challenge of the <a href='http://www.anonymousd.com/index.php'>anonymous.a</a> 02 competition  was to design a temporary exhibition structure/pavilion under a bridge/railroad which is one of the most forgotten urban spaces in every big city. The project should
transform this very dark and abandoned space into an architectural statement that is inviting and fun
where people can gather and experience the "under the bridge" in a different way by the conception of a
physical structure that becomes the exhibition itself.

The proposed site is located right bellow the "High Line" at West 24 street in NYC which is the home of
some of the most influential art galleries in the world. Proposed project should be an extension of
the art galleries activities by providing an outdoor exhibition space. The 3400 Sq. feet lot at 507 W. 24
street in Manhattan is positioned between 2 adjacent galleries on its sides and the "High line" from above.

<img src="app/templates/img/anonymousa/anonymousa05.jpg">

IDEA
<br>
    The aim of our design is to create space for idea presentations, exhibitions and thoughts exchange. Similar to Agora in ancient Greece the place itself should create just a good background for discussions.
Well.. High Line’s formidable construction and its awakening vicinity fits accurately as a background. What is needed  in fact is a floor...

The floor with different elevation to give spectators the right view and speakers the right place. With slopes to communicate between them and giving opportunity to sit. With the surface finishing suitable for that purpose.

<br><br>
<img src="app/templates/img/anonymousa/anonymousa04.png">
<br><br>

<br>
STRUCTURE, MATERIALS & ASSEMBLY
<br>

The structure is a three-dimensional shape which was tessellated into ten two-dimensional planes. Each plane has its own orientated framework that supports it. We decided to use standard OSB 2x25mm panels for construction as well as for surface floor finishing. This material is affordable, easy to work with and also its rough look has gained popularity recently. It can give its executors great fun as the construction requires simply tools as drill driver and circular saw.

Within the structure particular planes perform different functions. One of them works as an elevated soapbox and a stage. Opposite there is auditory formed by few planes. The others just serve as communication, however, there is not only one proper, imposed purpose on this artificial elevated territory.

For night illumination, lighting LED fixtures are attached between planes edges. They emphasize the structure’s geometry

<img src="app/templates/img/anonymousa/anonymousa01.jpg">
<br>



</div>